.slds-modal__container {
    max-width: 50rem !important;
    width: 80%;
}
.slds-modal__container {
    max-width: 60rem !important;
    width: 90%;
}

.slds-section-title {
    font-weight: 600;
    color: #032d60;
}